         <div>
       	 <h1 class = "text-center"><center>GEEKTIC</center></h1>
       	 <p class = "text-center"><center><b>Tu cliques tu neek</b></center></p>
        </div>
          
          <div style="width:40%; margin:auto; padding: 15px;border: solid 5px; border-radius: 15px;">
                  <h4 class = "text-center"><center>I'm looking for</center></h4>
                  <center>
                  <table border="1">
                  <tr>  
                 	 <td>                
                  		 <input ng-model="sexe" type="radio" name="radioSex" value="HOMME" checked = "checked" >&nbsp;A man 
                 	</td>
                  </tr> 
                  <tr>  
                 	 <td>       
                 		  <input ng-model="sexe" type="radio" name="radioSex" value="FEMME" >&nbsp;A woman        
                 	</td>
                  </tr> 
                  <tr>  
                 	 <td>  
                 		  <input ng-model="sexe" type="radio" name="radioSex" value="X" disabled>&nbsp;Why the fuck i'm here     
                 	</td>
                 </tr> 
                   </table>
                   </center>
                  <h4 class = "text-center"><center>who like:</center></h4>        
                    <center><select style="margin-top: 10px;" ng-model="interet"  ng-options="interet.nom for interet in interets" >
                    <option value="" disabled></option></center>
                 </select>  
          </div> 
          
          <button class="btn btn-large btn-block btn-primary" style="width: 15%; margin:auto; margin-top:20px;" ng-click="findGeeksByInterest()">FIND</button>

             <div style="margin: 20px 50px; border: solid 1px black; float: left; background-color: #F2F2F2; border-radius: 10px;" >
                     <div style="margin: auto; width: 400px;  border-radius: 10px; padding: 10px;" ng-repeat="geek in geeksByInterest">                                          
                             <a ng-href="#/showgeek/{{geek.id}}">{{ geek.prenom }} {{ geek.nom }}    Age: {{geek.age}} </a>                           
                     </div>
                </div>