
	 <div style="margin: 20px 50px; border: solid 1px black; float: left; background-color: #F2F2F2; border-radius: 10px;" >
	                     <div style="margin: auto; width: 400px;  border-radius: 10px; padding: 10px;" >                                          
	                             <p class="text-info">{{ geek.prenom }} {{ geek.nom }}</p>        
	                             <p> Age: {{geek.age}} ans. </p>
	                             <p> mail: {{geek.mail}}</p>
	                             <p> Centres d'interêt: </p>        
	                      
	                     </div>
	</div>

test
